.config
*.o
*.pyc
*.a
*.d
*.exe
*.bak

debug/
.vscode/
.pioenvs/
.piolibdeps/
.browse.c_cpp.db
.browse.c_cpp.db-shm
.browse.c_cpp.db-wal
.browse.vc.db
.browse.vc.db-shm
.browse.vc.db-wal
browse.vc.db
browse.vc.db-shm
browse.vc.db-wal

tools/xtensa-esp32-elf
tools/dist
tools/esptool
tools/esptool.exe
tools/mkspiffs/mkspiffs
tools/mkspiffs/mkspiffs.exe
.DS_Store


#Linux
*.directory
